<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <h2>Logowanie</h2>
  <mat-form-field>
    <input
      (keydown.space)="$event.preventDefault()"
      formControlName="email"
      matInput
      type="email"
      placeholder="Mail"
    />
    <mat-error *ngIf="email.hasError('required')"
      >Pole jest wymagane.</mat-error
    >
    <mat-error *ngIf="email.hasError('email')">Mail nieprawidłowy.</mat-error>
    <mat-error *ngIf="email.hasError('maxlength')">Max. 50 znaków.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="password"
      matInput
      type="password"
      placeholder="Hasło"
    />
    <mat-error *ngIf="password.hasError('required')"
      >Pole jest wymagane.</mat-error
    >
    <mat-error *ngIf="password.hasError('minlength')"
      >Hasło musi zawierać min. 6 znaków</mat-error
    >
    <mat-error *ngIf="password.hasError('maxlength')"
      >Max. 50 znaków.</mat-error
    >
  </mat-form-field>
  <button
    *ngIf="!(loading$ | async); else mockButton"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid"
  >
    Zaloguj
  </button>
  <ng-template #mockButton>
    <app-mock-button> Logowanie... </app-mock-button>
  </ng-template>
</form>
