.header {
  &__container {
    display: flex;
    align-items: center;
  }

  &__welcome {
    margin: 0 auto 0 2rem;
  }

  &__nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__link {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  &__menu {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .header {
    &__nav {
      display: none;
    }
    &__nav-container {
      display: none;
    }

    &__menu {
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
