<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <h2>Rejestracja</h2>
  <div class="form__group">
    <mat-form-field>
      <input
        (keydown.space)="$event.preventDefault()"
        formControlName="firstName"
        matInput
        type="text"
        placeholder="Imię"
      />
      <mat-error *ngIf="firstName.hasError('required')"
        >Pole jest wymagane.</mat-error
      >
      <mat-error *ngIf="firstName.hasError('minlength')"
        >Imię musi zawierać min. 3 znaki.</mat-error
      >
      <mat-error *ngIf="firstName.hasError('maxlength')"
        >Max. 50 znaków.</mat-error
      >
      <mat-error *ngIf="firstName.hasError('whitespace')"
        >Proszę nie używać spacji.</mat-error
      >
    </mat-form-field>
  </div>
  <div class="form__group">
    <mat-form-field>
      <input
        (keydown.space)="$event.preventDefault()"
        formControlName="lastName"
        matInput
        type="text"
        placeholder="Nazwisko"
      />
      <mat-error *ngIf="lastName.hasError('required')"
        >Pole jest wymagane.</mat-error
      >
      <mat-error *ngIf="lastName.hasError('minlength')"
        >Nazwisko musi zawierać min. 3 znaki.</mat-error
      >

      <mat-error *ngIf="lastName.hasError('maxlength')"
        >Max. 50 znaków.</mat-error
      >
    </mat-form-field>
  </div>
  <div class="form__group">
    <mat-form-field>
      <input
        (keydown.space)="$event.preventDefault()"
        formControlName="email"
        matInput
        type="email"
        placeholder="Mail"
      />
      <mat-error *ngIf="email.hasError('required')"
        >Pole jest wymagane.</mat-error
      >
      <mat-error *ngIf="email.hasError('pattern')"
        >Proszę podać prawidłowy format maila.</mat-error
      >

      <mat-error *ngIf="email.hasError('maxlength')">Max. 50 znaków.</mat-error>
    </mat-form-field>
  </div>
  <div class="form__group">
    <mat-form-field>
      <input
        formControlName="password"
        matInput
        type="password"
        placeholder="Hasło"
      />
      <mat-error *ngIf="password.hasError('required')"
        >Pole jest wymagane.</mat-error
      >
      <mat-error *ngIf="password.hasError('minlength')"
        >Hasło musi zawierać min. 6 znaków</mat-error
      >

      <mat-error *ngIf="password.hasError('maxlength')"
        >Max. 50 znaków.</mat-error
      >
    </mat-form-field>
  </div>
  <button
    *ngIf="!(loading$ | async); else mockButton"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid"
  >
    Zarejestruj
  </button>
  <ng-template #mockButton>
    <app-mock-button> Rejestracja... </app-mock-button>
  </ng-template>
</form>
