<ng-container *ngIf="(loading$ | async)?.fetch; then loader; else dataComp">
</ng-container>

<ng-template #dataComp>
  <section class="section">
    <h2>Nasi klienci</h2>
    <div class="list">
      <app-user-item
        class="list__item"
        *ngFor="let user of users$ | async"
        [user]="user"
        (userSelected)="deleteUser($event)"
      ></app-user-item>
    </div>
  </section>
</ng-template>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
<section class="section">
  <h2>Dodaj nowego klienta</h2>
  <app-user-creator></app-user-creator>
</section>
